Li{
    display: inline;
    margin-right: 50px;
}
a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 50px;
}
nav{
    text-align: right;
}
span{
    position: relative;
    margin-left: 100px;
}