nav > ul{
    display: flex;
}
nav li{
    margin: 10px;
    list-style: none;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: rgb(147, 184, 184);
}
table{
    border-collapse: collapse;
}
td , th{
    border: 1px solid rgb(190, 17, 17);
    padding: 5px 8px;
}
/* nested menu styles */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: rgb(145, 74, 74);
}
/* hover */
nav li:hover .dropdown{
    display: block;
}

